<p style="color: green"><%= notice %></p>

<%= render @behavior %>

<div>
  <%= link_to "Edit this behavior", edit_behavior_path(@behavior) %> |
  <%= link_to "Back to behaviors", behaviors_path %>

  <%= button_to "Destroy this behavior", @behavior, method: :delete %>
</div>
