<div id="<%= dom_id quiz_guess %>">
  <p>
    <strong>Behavior:</strong>
    <%= quiz_guess.behavior_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= quiz_guess.level_id %>
  </p>

  <p>
    <strong>Competency:</strong>
    <%= quiz_guess.competency_id %>
  </p>

  <p>
    <strong>Correct?</strong>
    <%= quiz_guess.correct? %>
  </p>
</div>
